.conment_pager { width:940px; margin:0 auto;padding:20px; overflow:hidden; position: relative; }
.conment_pager .conment-inner { width:2000px; height:auto; }
ul.j-nav-inner { list-style-type: none; }
ul.j-nav-inner li { list-style-type: none; width:300px; padding:0 10px; display: inline-block; }
.conment_pager .carousel-control2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	opacity: .5;
	filter: alpha(opacity = 50)
}

.conment_pager .carousel-control2.left2 {
	background: url('../images/') no-repeat;
	height:30px;
	width:20px;
}

.conment_pager .carousel-control2.right2 {
	right: 0;
	left: auto;
	background: url('../images/') no-repeat;
	height:30px;
	width:20px;
	
}

.carousel-control2:hover,.carousel-control2:focus {
	color: #fff;
	text-decoration: none;
	opacity: .9;
	filter: alpha(opacity = 90)
}

 .float-left {
 	float:left;
 }
 .inlineBlock {
 	display: inline-block;
 }
 .clear {
 	clear: both;
 }
.wrap2 {
 	margin:0px;
 	padding:20px 0px;
 }
.wrap2 .gx-service {
	margin: 0 auto;
    width: 980px;
 	border:0px;
}
.wrap2 .gx-service .gx-cypt {
	background: url("../images/1.jpg") no-repeat;
	margin:0 20px;
	width:284px;
	height:132px;
	cursor:pointer;
}
.wrap2 .gx-service .gx-fwyzc {
 	background: url("../images/2.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
.wrap2 .gx-service .gx-gywm {
 	background: url("../images/3.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
.gx-cypt-text, .gx-fwyzc-text, .gx-gywm-text {
	float:left;
	overflow:hidden;
	width:284px;
}
.gx-cypt-text a, .gx-fwyzc-text a, .gx-gywm-text a {
	text-decoration: none;	
}
.gx-cypt-text a:hover, .gx-fwyzc-text a:hover, .gx-gywm-text a:hover {
	text-decoration: underline;	
	color:#2e83e8;
}

.gx-cypt-text, .gx-fwyzc-text, .gx-gywm-text {
	float:left;
	margin-left:30px;
	overflow:hidden;
	width:284px;
}
.gx-cypt-text a, .gx-fwyzc-text a, .gx-gywm-text a {
	text-decoration: none;	
}
.gx-cypt-text a:hover, .gx-fwyzc-text a:hover, .gx-gywm-text a:hover {
	text-decoration: underline;	
	color:#2e83e8;
}
/* Footer */
#Footer { width:100%; height:66px; background: url("../images/footer-bg.jpg") repeat-x center top #EEE; }
#Footer .bottom { text-align: center; line-height:60px; width:980px; margin:0 auto; }

/* banner picture */
@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;}

/* main_image */
.main_visual{height:360px;/* border-top:1px solid #d7d7d7; */overflow:hidden;position:relative;}
.main_image{height:360px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:360px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:360px;}
.main_image li span{display:block;width:100%;height:360px}
.main_image li a{display:block;width:100%;height:362px}
.main_image li .img_1{background:url('../images/banner01.jpg') center top no-repeat}
.main_image li .img_2{background:url('../images/banner02.jpg') center top no-repeat}
.main_image li .img_3{background:url('../images/banner03.jpg') center top no-repeat}


div.flicking_con{position:absolute;top:300px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:360px!important;/* top:50%;margin-top:-37px; */display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left 50%;left:50px; }
#btn_next{background:url(../images/hover_right.png) no-repeat right 50%;right:50px; }


