@charset "UTF-8";
.wrap2 {
 	margin:0px;
 	padding:20px 0px;
 }
.wrap2 .gx-service {
	margin: 0 auto;
    width: 980px;
 	border:0px;
}

.wrap2 .gx-service .gx-cypt {
	background: url("../images/1.jpg") no-repeat;
	margin:0 20px;
	width:284px;
	height:132px;
	cursor:pointer;
}
.wrap2 .gx-service .gx-fwyzc {
 	background: url("../images/2.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
.wrap2 .gx-service .gx-gywm {
 	background: url("../images/3.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}