@charset "UTF-8";
html, body,img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	color:#666;
	font-family: \5FAE\8F6F\96C5\9ED1;
	vertical-align: baseline; 
 }
#Container { width:100%; }
/* Header */
#Header { width:100%; height:75px;background:url("../images/banner-bg.jpg") repeat-x scroll 0 0 #FFF;}
#Header .top { width:980px;margin:0 auto; }
.top {
 	width:980px;
	margin:0 auto;
}
 .top .gx-logo {
 	float:left;
 	background:url(../images/banner-logo.jpg) no-repeat;
 	height:76px;
 	width:466px;
	border: 0px;
}
.menuoption { font-size:13px; }
/* #menu-wrap a.selected {
	background: #3D4AEE;
	color:#FFF;
}
 */
.gx-guanggao {
   background: url("../images/advertisement-bg.jpg") no-repeat scroll center center transparent;
   height:360px;
   border:0px;
}

/* index pager */
.wrap {
 	margin:0px;
 	padding:0px;
 	background: url("../images/shadow-bg.jpg") repeat-x scroll center top transparent;
 	padding-bottom: 20px;
 }
 .gx-index-product {
 	margin: 0 auto;
    width: 980px;
 	border:0px;
 }
 .float-left {
 	float:left;
 }
 .inlineBlock {
 	display: inline-block;
 }
 .clear {
 	clear: both;
 }
 .gx-yzj { background: url("../images/gx-yzj.jpg") no-repeat; margin:0 53px; width:219px; height:326px;cursor: pointer; }
 .gx-zxy { background: url("../images/gx-zxy.jpg") no-repeat; margin:0 53px; width:219px; height:326px;cursor: pointer; }
 .gx-ycc { background: url("../images/gx-ycc.jpg") no-repeat; margin:0 53px; width:219px; height:326px;cursor: pointer; }
 .gx-yzj-text,.gx-zxy-text,.gx-ycc-text { width:219px; line-height:20px; overflow: hidden; margin: 0 53px;cursor: pointer; }

.gx-cypt-text, .gx-fwyzc-text, .gx-gywm-text {
	float:left;
	overflow:hidden;
	width:284px;
}
.gx-cypt-text a, .gx-fwyzc-text a, .gx-gywm-text a {
	text-decoration: none;	
}
.gx-cypt-text a:hover, .gx-fwyzc-text a:hover, .gx-gywm-text a:hover {
	text-decoration: underline;	
	color:#2e83e8;
}
/* help pager */
.gx-help-guanggao {
   background: url("../images/banner-help.jpg") no-repeat scroll center center transparent;
   height:154px;
   border:0px;
}
.gx-help-wrap {
	margin:20px auto;
 	padding:0px;
 	width:980px;
 	padding-bottom: 20px;
 	
}
.gx-help-left-bar{
	width:230px;
	border:1px solid #E1E5E7;
	border-radius:10px;
}
.gx-help-left-bar .item {
	padding:12px 20px;
	border-bottom:1px solid #E1E5E7;
}
.gx-help-content {
	/* padding:20px; */	
}
.gx-help-content li {
	list-style-type: none;
}
.gx-help-wrap2 {
 	margin:0px;
 	padding:20px 0px;
 }
.gx-help-wrap2 .gx-help-service {
	margin: 0 auto;
    width: 980px;
 	border:0px;
}
.gx-help-wrap2 .gx-help-service .gx-cypt {
	background: url("../images/1.jpg") no-repeat;
	margin:0 20px;
	width:284px;
	height:132px;
	cursor:pointer;
}
.gx-help-wrap2 .gx-help-service .gx-fwyzc {
 	background: url("../images/2.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
.gx-help-wrap2 .gx-help-service .gx-gywm {
 	background: url("../images/3.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}

.gx-help-reson {width:100%;background: url("../images/shadow-bg.jpg") repeat-x scroll center top #FFFFFF;margin: 0;padding: 0 0 20px;}
.gx-help-reson .body { margin:0 auto;width:980px;min-height:500px;z-index:1000;font-size: 12px;color:#666;font-family: "\5FAE\8F6F\96C5\9ED1"; }
.gx-help-reson .body .reson-item { overflow: hidden; padding:10px 0px 20px 20px;margin-bottom:20px;border-bottom: 1px solid #EEE; }
.gx-help-reson .body .reson-item .reson01 { background:url(../images/gx-help-reson-01.png) no-repeat transparent; height:122px; width:398px; }
.gx-help-reson .body .reson-item .reson02 { background:url(../images/gx-help-reson-02.png) no-repeat transparent; height:122px; width:398px; }
.gx-help-reson .body .reson-item .reson03 { background:url(../images/gx-help-reson-03.jpg) no-repeat transparent; height:122px; width:398px; }
.gx-help-reson .body .reson-item .reson04 { background:url(../images/gx-help-reson-04.jpg) no-repeat transparent; height:122px; width:398px; }
.gx-help-reson .body .reson-item .reson-desc { padding:0px 0px 10px 40px; line-height:20px; width:500px;}
.gx-help-reson .body .reson-item .reson-desc .desc { padding-bottom:10px;}
.gx-help-reson .body .reson-item .reson-desc .desc .title { font-size:20px; color:#2e83e8;}
.gx-help-reson .body .reson-item .reson-desc .desc .time { font-size:12px; color:#AAA; margin-left:3em;}
.gx-help-reson .frequent-questions { margin:0 auto;width:950px;z-index:1000;font-size: 12px;color:#666;font-family: "\5FAE\8F6F\96C5\9ED1"; }
.gx-help-reson .frequent-questions .title {  font-size:20px; color:#2e83e8; }
.gx-help-reson .frequent-questions .questions { overflow: hidden;padding:30px;}
.gx-help-reson .frequent-questions .questions .item {width:49%;display: inline-block;}
.gx-help-reson .frequent-questions .questions .item ul { list-style: outside square;}
.gx-help-reson .frequent-questions .questions .item ul li { list-style: outside square; line-height:22px; width:90%; }
.gx-help-reson .frequent-questions .questions .item ul li a { text-decoration: none; }
.gx-help-reson .frequent-questions .questions .item ul li a:hover { text-decoration: underline;color:#2e83e8; }
/* abouts pager */
.gx-abouts-guanggao{
	background: url("../images/banner-contact.jpg") no-repeat scroll center center transparent;
	height:154px;
	border:0px;
}
.gx-abouts-pager {
	margin:0px;
 	padding:0px;
 	width:100%;
 	background: url("../images/shadow-bg.jpg") repeat-x scroll center top transparent;
 	padding-bottom: 20px;
}
.gx-abouts-wrap {
	width:100%;
}
.gx-abouts-img {
	background: url("../images/contact-advertisment.jpg") no-repeat scroll center center transparent;
	height:354px;
	margin:0px auto;
	border:0px;
}
.gx-abouts-img >div {
	
}
.gx-abouts-advice {
	width:950px;
	margin:0 auto;
	padding:20px 55px;
}
.gx-abouts-advice >div.title {
	color:#2D80E3;
	font-size:15px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	padding-left:8px;
}
.gx-abouts-advice table {
	width:100%;
	/* border:1px solid #000; */
}
.gx-abouts-advice td {
	padding:5px;
}
.gx-abouts-advice td >div.gx-abouts-inputparent {
	border: 1px solid #E1E5E7;
    border-radius: 5px;	
    font-size: 12px;
    padding:5px 0px;
}
.gx-abouts-advice td >div.gx-abouts-inputparent >div.input {
	border-bottom:1px solid #E1E5E7;
	padding:10px;
}
.gx-abouts-advice td >div.gx-abouts-inputparent >div.no-border {
	border:0px;	
}
.gx-abouts-advice td >div.textarea {
	border: 1px solid #E1E5E7;
    border-radius: 5px;
}
.gx-abouts-advice td >div.textarea >textarea {
	overflow:hidden; 
	border:0px;
	padding:10px;
	min-width:657px;
	min-height:158px;
	min-height:148px\9;
	max-width:657px;
	max-height:160px;
	max-height:148px\9;
	width:657px;
	height:158px;
	resize: none;
}
.gx-abouts-advice td >div.gx-abouts-inputparent >div.input >div.text {
	width:70px;	
	line-height: 23px;
}
.gx-abouts-advice td >div.gx-abouts-inputparent >div.input >div >input.text {
	border:0px;
	width:170px;
	width:140px \9;
	min-width:80px;
	padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 0px;
}
.gx-abouts-advice-submit {
	background: url("../images/gx-about-submit.jpg") no-repeat;
	border:1px ;
	cursor:pointer;
	width:109px;
	height:34px;
}
.gx-abouts-wrap2 {
 	margin:0px;
 	padding:20px 0px;
 }
.gx-abouts-wrap2 .gx-abouts-service {
	margin: 0 auto;
    width: 980px;
 	border:0px;
}
.gx-abouts-wrap2 .gx-abouts-service .gx-cypt {
	background: url("../images/1.jpg") no-repeat;
	margin:0 20px;
	width:284px;
	height:132px;
	cursor:pointer;
}
.gx-abouts-wrap2 .gx-abouts-service .gx-fwyzc {
 	background: url("../images/2.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
.gx-abouts-wrap2 .gx-abouts-service .gx-gywm {
 	background: url("../images/3.jpg") no-repeat;
 	margin:0 20px;
 	width:284px;
 	height:132px;
 	cursor:pointer;
}
/* solution pager */
.gx-solution-guanggao{ background: url("../images/banner-fangan.jpg") no-repeat scroll center center transparent; height:154px; border:0px; }
.gx-solution{ width:100%; background: url("../images/shadow-bg.jpg") repeat-x scroll center top #FFFFFF; margin: 0; padding: 0 0 20px; }
.gx-solution >.body { margin:0 auto; min-height:500px; z-index:1000; width:980px; font-size: 12px; color:#666; font-family: "\5FAE\8F6F\96C5\9ED1"; }
.gx-solution .faq_box{margin:20px 10px;}
.gx-solution .faq_box .help_left{float:left;width:200px;border:1px #E1E5E7 solid;border-radius:10px;background: none repeat scroll 0 0 #FFFFFF; }
.gx-solution .faq_class{font-size:14px;line-height:28px;font-weight:normal;/* margin-left: -40px; */}
.gx-solution .faq_class li{ border-bottom: 1px solid #E1E5E7; list-style: none outside none; padding:2px 20px;}
.gx-solution .faq_class li a { text-decoration: none; }

.gx-solution .faq_body {float:left;padding:0px 0px 0px 40px;width:700px;overflow:hidden; }
.gx-solution .faq_body .hr { margin-bottom:20px; background: none repeat scroll 0 0 #FFFFFF; line-height:25px; border:1px solid #E1E5E7; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; padding:20px; }
.gx-solution .faq_body .hr .title { font-size:14px;color:#2E80E4; }
.gx-solution .faq_body .hr p { margin:0px;padding:0px; }
.gx-solution .faq_body .hr ul { margin:0px;padding:0px;padding-left:20px;list-style-type:none; }
.gx-solution .faq_body .hr ul li { line-height: 25px; list-style: decimal outside none; }

/* host pager */
.gx-host-guanggao{ background: url("../images/banner-yunzhuji.jpg") no-repeat scroll center center transparent; height:154px; border:0px;margin-top: -5px; }
.gx-zxy-guanggao{ background: url("../images/banner-zxy.jpg") no-repeat scroll center center transparent; height:154px; border:0px; }
.gx-ycc-guanggao{ background: url("../images/banner-ycc.jpg") no-repeat scroll center center transparent; height:154px; border:0px; }
.gx-host { width:100%; background: url("../images/shadow-bg.jpg") repeat-x scroll center top #FFFFFF; margin: 0; padding: 0 0 20px; }
.gx-host >.body { margin:0 auto; min-height:500px; z-index:1000; width:980px; font-size: 12px; color:#666; font-family: "\5FAE\8F6F\96C5\9ED1"; }
.gx-host >.body .faq_box{margin:20px 10px;}
.gx-host >.body .faq_box .help_left{float:left;width:200px;/* border:1px #E1E5E7 solid;border-radius:10px;background: none repeat scroll 0 0 #FFFFFF; */ }
.gx-host >.body .faq_class{font-size:14px;line-height:28px;font-weight:normal; }
.gx-host >.body .faq_class div.group { border-bottom: 1px solid #E1E5E7; padding:3px 20px;font-size: 17px; line-height:30px; }
.gx-host >.body .faq_class div.group a {  }
.gx-host >.body .faq_class div.group a:hover { color:#2E83E8; }
.gx-host >.body .faq_class div.group2 { background-color: #EEE; }
.gx-host >.body .faq_class div.item { border-bottom: 1px solid #E1E5E7;font-size: 12px; }
.gx-host >.body .faq_class div.item .item-icon { background:url('../images/host-arrow-blue.png') no-repeat;/*  line-height: 15px; margin-right:10px; left:0px; */}
.gx-host >.body .icon-btn { top:-2px;left:0px; }
.gx-host >.body .nui-icon { left:-6px;margin-right:5px; }

.gx-host >.body .faq_body { position:relative; float:left;padding:0px 0px 0px 40px;width:700px;overflow:hidden; }
.gx-host >.body .faq_body .hr { margin-bottom:20px; line-height:25px; padding:20px 0px 20px 20px; }
.gx-host >.body .faq_body .hr .img { margin:0px 20px 0px 0px; background:url('../images/host-detail.png') no-repeat transparent; width:122px; height:122px; }
.gx-host >.body .faq_body .hr .text { overflow: hidden; min-width:500px;width:518px;padding:10px; }
.gx-host >.body .faq_body .hr .text .title { margin-bottom:20px; font-size:22px;color:#2E80E4; }
.gx-host >.body .faq_body .hr .text .desc { width:530px; }
.gx-host >.body .faq_body .showNav { position: relative; background: #FFF; }
.gx-host >.body .faq_body .showNav .nav { position: relative;overflow: hidden;min-width:700px; }
.gx-host >.body .faq_body .showNav .nav .group { background-color:#F7F7F8; height:40px; border: 1px solid #E1E5E7;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;line-height: 40px; }
.gx-host >.body .faq_body .showNav .nav div.item { display: inline-block; padding:0px 45px; border-right:1px solid #E1E5E7; }
.gx-host .faq_body .help_nav .showNav .nav div.item:last-child { border:0px; }
.gx-host >.body .faq_body .showNav .nav div.item .icon { background: url(../images/host-arrow-white.png) no-repeat; }
.gx-host >.body .faq_body .showNav .nav div.item2 { display: inline-block; padding:0px 45px; border-right:1px solid #E1E5E7; }
.gx-host >.body .faq_body .showNav .nav div.item2:last-child { border:0; }
.gx-host >.body .faq_body .showNav .nav div.item2 .icon { background: url(../images/host-arrow-white.png) no-repeat; }
.gx-host >.body .faq_body .showNav .nav div.item3 { display: inline-block; padding:0px 40px; border-right:1px solid #E1E5E7; }
.gx-host >.body .faq_body .showNav .nav div.item3:last-child { border:0; } 
.gx-host >.body .faq_body .showNav .nav div.item3 .icon { background: url(../images/host-arrow-white.png) no-repeat; }
.gx-host .faq_body .help_nav .showNav .nav div.selected { background:#2E83E8; }
.gx-host .faq_body .help_nav .showNav .nav div.selected a { color:#FFF; }
.gx-host .faq_body .help_nav .host-item { padding:10px 0px; }
.gx-host .faq_body .help_nav .host-item ul { padding-left: 20px; }
.gx-host .faq_body .help_nav .host-item .host-item-title { font-size:18px;color:#2e80e4;padding-top:20px;padding-bottom:10px; border-bottom:1px solid #E1E5E7; }
.gx-host .faq_body .help_nav .host-item .host-detail { line-height:24px; padding:10px 0px; }
.gx-host .faq_body .help_nav .host-item .host-detail table { border-collapse: collapse;border-spacing: 0; margin-top:20px; width: 100%;font-size:12px; }
.gx-host .faq_body .help_nav .host-item .host-detail td { padding:8px; }
.gx-host .faq_body .help_nav .host-item .host-detail td div.title { padding:5px 15px;font-weight: bold; }
.gx-host .faq_body .help_nav .host-item .host-detail td div.block { padding:5px 15px;font-size:12px; }
.gx-host .faq_body .help_nav .host-item .contrast-detail table { border-collapse: collapse;border-spacing: 0; margin-top:20px; width: 100%;font-size:12px; }
.gx-host .faq_body .help_nav .host-item .contrast-detail th { padding:8px 15px; background-color:#2E83E8; color:#FFF;border:1px solid #FFF;font-size:12px;  }
.gx-host .faq_body .help_nav .host-item .contrast-detail td { padding:8px; border:1px solid #E1E5E7;font-size:12px;  }
.gx-host .faq_body .help_nav .host-item .contrast-detail td.grey { background-color: #FAFAFA;  }
#cpms,#cptd,#cpdb,#cpjg { height:50px; display: none; }
.gx-host .faq_body .help_nav .host-item .product-additional { border: 1px dashed #DDD; background: #F7F7F8; padding:20px;overflow: hidden; }
.gx-host .faq_body .help_nav .host-item .product-additional .title { font-size:20px;color:#2E83E8; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail { }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table { border-collapse: collapse;border-spacing: 0;width:100%;padding:0px;margin:0px; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td { padding:20px; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title { line-height:40px;font-size:16px;vertical-align: middle;display: inline-block; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title div { line-height:40px;font-size:16px;vertical-align: middle;display: inline-block; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title .img1 { background: url('../images/host-01.jpg') no-repeat;height: 30px;width: 30px;margin-right:10px; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title .img2 { background: url('../images/host-02.jpg') no-repeat;height: 30px;width: 30px;margin-right:10px; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title .img3 { background: url('../images/host-03.jpg') no-repeat;height: 30px;width: 30px;margin-right:10px; }
.gx-host .faq_body .help_nav .host-item .product-additional .additional-detail table td div.title .img4 { background: url('../images/host-04.jpg') no-repeat;height: 30px;width: 30px;margin-right:10px; }
.ui-widget-content { background: #FFF;}
.ui-widget-header { background:#2E83E8 }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background:#2E83E8;border:1px solid #FFF; }
.ui-slider-horizontal { height:0.4em; }
.ui-slider-horizontal .ui-slider-handle { top:-0.5em;margin-left:-0.3em; }
.ui-slider .ui-slider-handle { width: 0.6em; }

.calculator { cursor:pointer; word-spacing:8px;letter-spacing: 1px; position: fixed; right:0px; top:230px; padding:10px; z-index: 1; height:80px; width:10px; }

.gx-host .faq_body .help_nav .host-item .price-detail table {  color:#999; border-collapse: collapse;border-spacing: 0; margin-top:20px; width: 100%;font-size: 12px; }
.gx-host .faq_body .help_nav .host-item .price-detail table th { text-align: right; }
.gx-host .faq_body .help_nav .host-item .price-detail table td { padding:5px 0px;padding-left:5px; }
.gx-host .faq_body .help_nav .host-item .price-detail table td div.slider { width:420px; }
.gx-host .faq_body .help_nav .host-item .price-detail table td em { display: inline-block;width:47%;width:46% \9;font-style: normal; }
.gx-host .faq_body .help_nav .host-item .price-detail table td input[type='text'] { margin-left:-5px;border:1px soild #E1E5E7;height:26px; color:#2E83E8;font-size:16px;width:70px;margin-right:5px; line-height:26px;/* font-weight: bolder; */text-align: center; }
.gx-host .faq_body .help_nav .host-item .price-detail table td img {  margin:0px 5px; }
.gx-host .faq_body .help_nav .host-item .price-detail table th input[type='button'] { background:#2E83E8;color:#FFF;cursor:pointer; font-size:12px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  border:1px solid #E1E5E7;height:24px;width:60px; }
.gx-host .faq_body .help_nav .host-item .price-detail button { background:#2E83E8;color:#FFF;cursor:pointer; font-size:12px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  border:1px solid #E1E5E7;height:26px;width:90px; }
.gx-host .faq_body .help_nav .host-item .price-detail button[disabled] { background:#ccc;color:#aaa;cursor:default; font-size:12px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  border:1px solid #E1E5E7;height:26px;width:90px; }


.i_box{margin:10px 20px;font-size:14px;float:left}
.i_box *{vertical-align:middle}
.i_box a{padding:2px 5px;background-color:#e9e9e9;border:1px solid #ccc;text-decoration:none;color:#585858;line-height:20px}
.i_box a:hover{color:#000}
.i_box input{width:30px;height:18px;margin:0 8px;padding:2px;border:1px solid #ccc;text-align:center;line-height:16px}
.nui-roundBtn { border-radius: 100% 100% 100% 100% !important; text-align: center; }
.nui-btn { position: relative; }
.nui-btn-text {/* border: 1px solid #999999; border-radius: 3px 3px 3px 3px; cursor: pointer; height: 17px; */ line-height: 15px; padding: 0 16px; text-align: center; vertical-align: top; }
.nui-btn, .nui-btn-text { display: inline-block; vertical-align: middle; }
.nui-roundBtn .nui-btn-text { border-radius: 100% 100% 100% 100% !important; height: 18px; line-height: 18px; overflow: hidden; padding: 0; width: 18px; }
/* gxcypt pager */
.gx-gxcypt-guanggao { background: url("../images/banner-gxcypt.jpg") no-repeat scroll center center transparent; height:154px; border:0px; }
.gx-gxcypt .group { margin:10px;width:980px;margin:0 auto; }
.gx-gxcypt .group .line { border-top:1px solid #E1E5E7; height:1px;width:100%;margin-top:20px;margin-bottom: 10px; }
.gx-gxcypt .group .item { padding:10px; }
.gx-gxcypt .group .item .img1 { float:left; height:230px;width:230px; background: url('../images/gxcypt01.png') no-repeat;margin:20px; }
.gx-gxcypt .group .item .img2 { float:left; height:230px;width:230px; background: url('../images/gxcypt02.png') no-repeat;margin:20px; }
.gx-gxcypt .group .item .content  { float:right;padding:10px 20px; width:650px; }
.gx-gxcypt .group .item .content .title { font-size: 20px;color:#2E83E8;margin:20px; }
.gx-gxcypt .group .item .content .desc {  }
.gx-gxcypt .group .item .content .desc p { text-indent: 2em; line-height: 20px; }



/* Footer */
#Footer { width:100%; height:66px; background: url("../images/footer-bg.jpg") repeat-x center top #EEE; }
#Footer .bottom { text-align: center; line-height:60px; width:980px; margin:0 auto; }

.guanggao {  height:154px; width:100%; border:0px;margin-top: -5px; }
.yzj { background: url("../images/banner-yzj.jpg") no-repeat scroll center center transparent; }
.zxy { background: url("../images/banner-zxy.jpg") no-repeat scroll center center transparent; }
.ycc { background: url("../images/banner-ycc.jpg") no-repeat scroll center center transparent; }
.zmy { background: url("../images/banner-zmy.jpg") no-repeat scroll center center transparent; }
.aqy { background: url("../images/banner-aqy.jpg") no-repeat scroll center center transparent; }
.yzx { background: url("../images/banner-yzx.jpg") no-repeat scroll center center transparent; }
.ljyy { background: url("../images/banner-ljyy.jpg") no-repeat scroll center center transparent; }
.xzly {  background: url("../images/banner-xzly.jpg") no-repeat scroll center center transparent; }
.lxwm {  background: url("../images/banner-lxwm.jpg") no-repeat scroll center center transparent; }