#page-wrap {
	margin: 0px;
	padding: 0px
}
#page-wrap.subsite #head-wrap {
	z-index: 30;
	height: 60px
}
#page-wrap.subsite #banner-wrap {
	top: 60px
}
#page-wrap.subsite #content-wrap {
	top: 60px;
	padding: 29px 0px 95px 0px
}
#ceiling-wrap #pocket-wrap, #head-wrap #pocket-wrap {
    height: 40px;
    position: relative;
    top: 5px;
}
#ceiling-wrap,#head-wrap {
	position: absolute;
	left: 0px;
	width: 100%;
	padding-bottom: 41px;
	margin-bottom: -85px;

	//background: #1A1A1A;
	background-image: -moz-linear-gradient(left top,#c6ff00,#538300,#c6ff00);
	background-image: -webkit-gradient(linear, left top, right bottom,color-stop(0, #c6ff00),color-stop(0.5, #538300),color-stop(1, #c6ff00));
	//background: -webkit-gradient(linear, left top, left bottom, from(#96ff00), color-stop(0.5, orange), to(rgb(255, 0, 0)));
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0');
	/*
	background:-moz-linear-gradient(left, ��FFC3C8,��FF9298);
	background:-moz-linear-gradient(10 10 90deg,rgb(25,0,0) 14%,rgb(255,255,0) 50%,rgb(0,0,255) 100%);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(��2074af), to(��2c91d2));
	background:-webkit-gradient(linear ,10% 10%��100% 100%,color-stop(0.14,rgb(255,0,0)),color-stop(0.5,rgb(255,255,0)),color-stop(1,rgb(0,0,255)));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=��00ffff,endColorstr=��9fffff,grandientType=1);
	*/
	z-index: 50
}
#ceiling-wrap #pocket-wrap,#head-wrap #pocket-wrap {
	position: relative;
	top: 5px;
	height: 40px
}

#navigation-wrap {

}

.ie7 #navigation-wrap,.ie8 #navigation-wrap {
	width: 958px;
	border: 1px solid #AAA
}

#navigation-wrap #menu-wrap {
	position: relative;
	/* background:#fff; */
	background:url("../images/banner-bg.jpg") repeat-x scroll 0 0 #FFF;
}
#navigation-wrap #menu-managed div.rsSupport {
	top: 0px;
	margin-top: 75px
}
#menu-wrap a.menuoption-off {
	background-color: transparent;
	color: #666;
}
/* #menu-wrap a.selected {
	background-color: #4eb0ec;
	color:#FFF;
} */
#menu-wrap a.menuoption-off:hover {
	background-color: #2e80e4;
}

#menu-wrap a.menuoption-on {
	background-color: #2e80e4;
	/* background-color: #4EA0F7; */
	color: #FFF
}
#menu-wrap a.menuoption {
    cursor: pointer;
    float: left;
    /* font-family: arial; */
    /* font-size: 15px; */
    font-weight: normal;
    left: 0;
    padding: 28px 19px 30px;
/*     padding: 28px 25px 30px; */
    position: relative;
    text-decoration: none;
    top: 0;
}
#menu-wrap a.menuoption .arrow {
	position: absolute;
	top: 34px;
	right: 5px;
	width: 7px;
	height: 4px;
	background-image:url('http://images.cdn.rackspace.com/sprites/global_header.png')
}

#menu-wrap a.menuoption-off .arrow {
	background-position: -104px -60px
}

#menu-wrap a.menuoption-on .arrow {
	background-position: -114px -60px
}
div.menu .nav-callout {
    background-color: #666666;
    border: 1px solid #888888;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: block;
    /* font-size: 12px; */
    line-height: 14px;
    margin: 0 20px 20px;
    padding: 15px;
    width: 180px;
}
div.menu .nav-callout .heading {
	/* font-size: 14px; */
	font-weight: bold;
	margin-bottom: 5px
}

div.menu .nav-callout .heading .icon {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px
}

div.menu .nav-callout .heading .title {
	padding-top: 15px;
	display: inline-block
}

div.menu .nav-callout a:hover {
	text-decoration: none
}

div.menu .nav-callout a.learn-more {
	color: white;
	display: block;
	margin-top: 10px;
	/* font-size: 12px */
}

div.menu .nav-callout a.learn-more:hover {
	text-decoration: underline
}

div.menu .nav-callout a.learn-more .arrow {
	width: 10px;
	height: 12px;
	margin-left: 2px;
	top: 2px;
	background:
		url('http://images.cdn.rackspace.com/elements/arrow-white.png') 0px
		0px;
	display: inline-block;
	position: relative
}

div.menu .nav-callout.managed-cloud .heading .icon {
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat 0px 0px
}

div.menu .nav-callout.gartner .heading .icon {
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px,
		-moz-linear-gradient(top, #297bc7 0%, #0157ad 100%);
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px,
		-webkit-linear-gradient(top, #297bc7 0%, #0157ad 100%);
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px, -o-linear-gradient(top, #297bc7 0%, #0157ad 100%);
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px,
		-ms-linear-gradient(top, #297bc7 0%, #0157ad 100%);
	background:
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px,
		linear-gradient(to bottom, #297bc7 0%, #0157ad 100%);
	width: 120px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.ie7 div.menu .nav-callout.gartner .heading .icon,.ie8 div.menu .nav-callout.gartner .heading .icon,.ie9 div.menu .nav-callout.gartner .heading .icon {
	background: #297bc7
		url(http://images.cdn.rackspace.com/sprites/nav_callout_icons_20121112.png)
		no-repeat -40px 0px
}
#carousel-wrap .managed-cloud {
	background-image:
		url('http://images.cdn.rackspace.com/home/bananers/managed-cloud.jpg')
}

#menu-wrap div.menu {
	position: absolute;
	top: 73px;
	
	left: -200px; 
	width: auto; 
	
	padding: 0px;
	margin: 0px;
	background: #2e80e4;
	text-align: left;
	display: none;
	-moz-bottom-left-border-radius: 3px;
	-moz-bottom-right-border-radius: 3px;
	-webkit-bottom-left-border-radius: 3px;
	-webkit-bottom-right-border-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}
#menu-wrap #menu-products .cloud-signup {
	color: white;
	/* font-size: 16px; */
	background-color: #666;
	padding: 20px;
	border-top: 1px solid #888;
	-moz-bottom-left-border-radius: 3px;
	-moz-bottom-right-border-radius: 3px;
	-webkit-bottom-left-border-radius: 3px;
	-webkit-bottom-right-border-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}

#menu-wrap #menu-products .cloud-signup a {
	margin-right: 20px
}

.ie7 #menu-wrap div.menu {
	width: 550px;
	padding: 0 0 20px 0
}

#menu-wrap div.menu-title {
	position: relative;
	top: 18px;
	/* font-size: 24px; */
	/* font-family: verdana; */
	font-weight: normal;
	line-height: 28px;
	color: #757575
}

#menu-wrap div.rsSupport {
	position: relative;
	top: 75px;
	color: #CCC;
	/* font-size: 14px; */
	text-transform: uppercase;
	padding: 5px 25px 6px 46px;
	background-image:
		url('http://images.cdn.rackspace.com/sprites/global_header.png');
	background-position: -30px -152px;
	cursor: pointer
}

ul.navigation {
	padding: 0px;
	margin: 0px 28px 20px 20px;
	list-style-type: none
}
#menu-wrap ul.navigation {
    list-style-type: none;
}
#menu-wrap li.heading-label,#menu-wrap li.heading-link a,#menu-wrap li.heading-link a:hover,#menu-wrap li a,#menu-wrap li a:hover,#menu-wrap li.sub a,#menu-wrap li.sub a:hover
	{
	position: relative;
	text-decoration: none;
	display: block;
	white-space: nowrap
}

#menu-wrap li.heading-label,#menu-wrap li.heading-link a
	{
	color: #FFF;
	/* font-size: 14px; */
	text-transform: uppercase;
	margin: 20px 0px 5px 0px
}
#menu-wrap li.heading-link a:hover {
	font-weight:bold;
}
#menu-wrap li a,#menu-wrap li a:hover {
	color: #000;
	/* font-size: 12px; */
	line-height: 18px
}

#menu-wrap li .pre-arrow {
	background:
		url('http://images.cdn.rackspace.com/sprites/global_header.png')
		-132px -60px;
	width: 5px;
	height: 12px;
	margin-right: 5px;
	margin-top: 5px;
	float: left
}

.ie7 #menu-wrap li .pre-arrow,.ie9 #menu-wrap li .pre-arrow {
	display: inline
}

#menu-wrap li.sub a,#menu-wrap li.sub a:hover {
	color: #AAA;
	/* font-size: 12px; */
	line-height: 18px;
	display: block
}

#menu-wrap li.heading-link a,#menu-wrap li.heading-link a:hover {
	float: left
}

#menu-wrap li a:hover,#menu-wrap li.sub a:hover {
	text-decoration: underline
}

#menu-wrap li.heading-link .arrow {
	position: relative;
	top: 24px;
	left: 8px;
	width: 4px;
	height: 8px;
	background:
		url('http://images.cdn.rackspace.com/sprites/global_header.png')
		-125px -60px;
	float: left
}

#menu-wrap li.sub .arrow {
	position: relative;
	top: 5px;
	left: 0px;
	width: 4px;
	height: 7px;
	background:
		url('http://images.cdn.rackspace.com/sprites/global_header.png')
		-132px -60px;
	margin-right: 10px;
	float: left
}
.container_12 {
    text-align: left;
}
#menu-wrap .container_12 {
	width: 100%;
	/* width: auto; */
}

#menu-wrap .container_12 .navigation_2 {
	width: auto;
}

.ie7 #menu-wrap .container_12 {
	width: 100%；
	/* width: 920px */
}

.ie7 #menu-wrap .container_12 .navigation_2 {
	/* 
	width: 280px;
	text-align: left 
	*/
	padding:0 20px;
	text-align: center;
}

.ie7 #menu-wrap .container_12 .navigation_2 li {
	width: 300px
}

.ie9 #menu-wrap #menu-products .container_12 .navigation_2 li.heading-link {
	width: 250px
}

.ie9 #menu-wrap #menu-support .container_12 .navigation_2 li.heading-link {
	width: 255px
}

.ie9 #menu-wrap #menu-about .container_12 .navigation_2 li.heading-link	{
	width: 210px
}

.ie7 #menu-wrap div#menu-products {
	width: 820px
}

.ie7 #menu-wrapB #menu-products .cloud-signup {
	width: 780px;
	position: relative;
	top: 20px
}
.navigation_1,.navigation_2,.navigation_3 {
	position: relative;
	float: left
}
.container_12 .navigation_1 {
	width: 155px
}

.container_12 .navigation_2 {
	width: 255px
}

a {
    color: #666;
    text-decoration: none;
}
a.button.rs_prod_green {
    background: url("http://images.cdn.rackspace.com/elements/button-arrow-white.png") no-repeat scroll right center, linear-gradient(to bottom, #82D24F 0%, #398907 100%) repeat scroll 0 0 transparent;
    border: 1px solid #398907;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #398907;
}
a.button.button_medium {
    /* font-size: 12px; */
    padding: 10px 30px 9px 25px;
    text-transform: uppercase;
}
a.button {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    display: inline-block;
    line-height: 1.1em;
    text-decoration: none !important;
    text-indent: 0;
}

html body * div.clear {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}

/*----------------------------------------------------------*/

#home_v3 {
    background: none repeat scroll 0 0 #FFFFFF;
}

#home_v3 #carousel-wrap {
    height: 495px;
    padding-top: 80px;
}
#home_v3 #carousel-control-wrap {
    margin-top: -44px;
    //margin-top: -44px;
}
#home_v3 #carousel-description-wrap {
    background: url("http://images.cdn.rackspace.com/home/subtle-grunge-lines-repeating-135x135.png") repeat scroll 0 0 #323232;
    color: #EEEEEE;
    height: 48px;
    padding: 30px 0;
}
#home_v3 #carousel-wrap .carousel-item.active {
    opacity: 1;
}
#home_v3 #carousel-wrap .carousel-item {
    background-position: center top;
    background-repeat: no-repeat;
    height: 495px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#carousel-wrap .hybrid-cloud-1 {
    background-image: url("../images/1-2_02.png");
//    background-image: url("http://images.cdn.rackspace.com/home/bananers/hybrid-cloud-1.jpg");
}
#home_v3 #carousel-wrap .carousel-item {
    background-position: center top;
    background-repeat: no-repeat;
    height: 495px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#carousel-wrap .managed-cloud {
    background-image: url("../images/2-2_02.png");
//    background-image: url("http://images.cdn.rackspace.com/home/bananers/managed-cloud.jpg");
}
#home_v3 #carousel-wrap .carousel-item {
    background-position: center top;
    background-repeat: no-repeat;
    height: 495px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#carousel-wrap .cloud-media {
    background-image: url("../images/3-2_02.png");
//    background-image: url("http://images.cdn.rackspace.com/home/bananers/cloud-media.jpg");
}
#home_v3 #carousel-wrap .carousel-item {
    background-position: center top;
    background-repeat: no-repeat;
    height: 495px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#home_v3 #carousel-wrap .carousel-item.active .carousel-item-cta {
    display: block;
    height: 409px;
    left: 0;
    position: absolute;
    top: 42px;
    width: 960px;
    z-index: 5;
}
#home_v3 #carousel-wrap .carousel-item .carousel-item-cta {
    display: none;
}
#carousel-wrap .carousel-item-cta a {
    display: block;
    height: 100%;
    width: 100%;
}
#carousel-wrap .open-is-better {
    background-image: url("http://images.cdn.rackspace.com/home/bananers/open-is-better.jpg");
}

#home_v3 #carousel-controls {
    list-style: none outside none;
}
#home_v3 #carousel-description-wrap {
    color: #EEEEEE;
}
#home_v3 #carousel-description-wrap .carousel-description {
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease 0s;
}
#home_v3 #carousel-description-wrap .carousel-description.active {
    opacity: 1;
    z-index: 5;
}
.container_12 {
    left: 0;
    margin: 0 auto;
    position: relative;
    text-align: left;
    top: 0;
    width: 100%;
    /* width: 960px; */
}

#banner-wrap #carousel-wrap,#banner-home-wrap #carousel-wrap {
	position: relative;
	width: 100%;
	height: 222px;
	background: #EAEAEA;
	margin: 0px auto;
	overflow: hidden
}

#banner-wrap #carousel-wrap.enterprise {
	background: #3F4344
}

#banner-home-wrap #carousel-wrap {
	height: 300px
}

#banner-wrap #carousel-wrap .stage,#banner-home-wrap #carousel-wrap.stage {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 222px;
	margin: 0px auto;
	z-index: 20;
	overflow: hidden
}

.ie7 #banner-wrap #carousel-wrap.stage {
	left: 0px
}

#banner-home-wrap #carousel-wrap .stage {
	height: 300px
}
#home_v3 {
	background: #fff
}

#home_v3 #carousel-wrap {
	height: 495px;
	padding-top: 80px
}

#home_v3 #carousel-wrap .carousel-item {
	position: absolute;
	width: 100%;
	height: 495px;
	background-repeat: no-repeat;
	background-position: center top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s
}

#home_v3 #carousel-wrap .carousel-item.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1
}

#home_v3 #carousel-wrap .carousel-item .carousel-item-cta {
	display: none
}

#home_v3 #carousel-wrap .carousel-item.active .carousel-item-cta {
	display: block;
	z-index: 5;
	top: 42px;
	left: 0;
	position: absolute;
	height: 409px;
	width: 960px
}

#carousel-wrap .carousel-item-cta a {
	display: block;
	width: 100%;
	height: 100%
}
#home_v3 #carousel-controls {
	list-style: none
}

#home_v3 #carousel-controls
li {
	float: left;
	margin: 0 1px
}

#home_v3 #carousel-controls li a {
	/* font-family: 'RobotoMedium', 'HelveticaNeue', 'Helvetica Neue',Helvetica, Arial, san-serif; */
	padding: 16px 0 12px 0;
	display: block;
	width: 315px;
	/* width: 238px; */
	color: #fff;
	background-color: #231f20;
	text-align: center;
	/* font-size: 17px; */
	font-weight:bold;
	text-transform: uppercase;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s
}

#home_v3 #carousel-controls li.active a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	border-top:2px solid #FCC200;
	border-left:2px solid #FCC200;
	border-right:2px solid #FCC200;
	margin:-2px -2px 0px -2px;
}

#home_v3 #carousel-description-wrap {
	padding: 30px 0;
	height: 48px;
	background: #323232
		url('http://images.cdn.rackspace.com/home/subtle-grunge-lines-repeating-135x135.png');
	color: #eee
}

#home_v3 #carousel-description-wrap .carousel-description {
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s
}

#home_v3 #carousel-description-wrap .carousel-description.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	z-index: 5
}

#home_v3 #carousel-description-wrap p {
	margin: 0
}

#home_v3 #carousel-description-wrap .carousel-description p {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

#home_v3 #carousel-description-wrap .carousel-description.active p {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

#home_v3 #racker-photo {
	margin-top: -95px;
	margin-bottom: -50px;
	text-align: center
}
#home_v3 #carousel-description-wrap .carousel-description-cta {
    margin-top: 10px;
    text-align: center;
}
#home_v3 .primary-product {
    text-align: center;
}
#home_v3 .primary-product {
    padding: 50px 5px 35px;
    text-align: center;
}
#home_v3 h2 {
    /* font-size: 22px; */
    font-weight: normal;
    line-height: 1.3em;
    margin: 0.5em 0 0.3em;
}
#home_v3 h1, #home_v3 h2, #home_v3 h3 {
    /* font-family: 'RobotoMedium','HelveticaNeue','Helvetica Neue',Helvetica,Arial,san-serif; */
}
#home_v3 p {
    /* font-size: 16px; */
    line-height: 1.5em;
}
p {
   /*  margin-bottom: 15px; */
}

a.button.rs_prod_litegray.button_tiny {
    background: linear-gradient(to bottom, #FFFFFF 0%, #E4E4E4 100%) repeat scroll 0 0 transparent;
    text-shadow: none;
}
a.button.rs_prod_litegray {
    background: url("http://images.cdn.rackspace.com/elements/button-arrow-black.png") no-repeat scroll right center, linear-gradient(to bottom, #FFFFFF 0%, #E4E4E4 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D0D0D0;
    color: #5C5C5C !important;
    text-shadow: 0 1px 0 #B8B8B8;
}
a.button.button_tiny {
    /* font-size: 10px; */
    padding: 0.3em 1em 0.3em 1.1em;
    text-transform: uppercase;
}
a.button {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    display: inline-block;
    line-height: 1.1em;
    text-decoration: none !important;
    text-indent: 0;
}
/* .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_divider_vertical, .navigation_1, .navigation_2, .navigation_3, .fatfooter_1 {
    float: left;
    position: relative;
}
.container_12 .grid_4 {
    width: 304px;
}
.container_12 .grid_9 {
    width: 714px;
}
.container_12 .push_1 {
    left: 24px;
}
.container_12 .push_2 {
    left: 48px;
}
.container_12 .grid_3, .container_river .grid_3 {
    width: 220px;
} */


/**********************************************************************************/
#navigation-wrap #menu-wrap ol.menuoption {
	list-style-type:none;
}
#navigation-wrap #menu-wrap ol.menuoption li {
	float:left;
	margin:27px 0;
	/*
	border-left:2px dotted  #FCC200;
	border-right:2px dotted  #FCC200;
	*/
}
#navigation-wrap #menu-wrap ol.menuoption li.active a {
	color:#FCC200;
}
#navigation-wrap #menu-wrap ol.menuoption li a {
	/* font-size:20px; */
	color:#FFF;
	padding:0 18px;
	/* font-family:"����"; */
	float:left;
	text-decoration:none;
}
#navigation-wrap #menu-wrap ol.menuoption li span.menuline {
	width:6px;
	height:10px;
	background:url("../images/menuline.jpg") repeat-x;
	float:left;
	margin-top: 5px;
}

/******************************************************************************************/