body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; /* max-width:1349px;min-width:1000px;windth:1263px; */}
#loginer { height:20px; background:#1de; margin-bottom:2px;}
#header { height:420px; background:#ff9600; margin-bottom:3px;}
#menu { height:200px; background:#fff; margin-bottom:5px;}
#mainContent { height:500px; background:#cff; margin-bottom:5px;}
#footer { height:60px; background:#6cf;}